* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
    font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top,#3C5186, #9B72AA);
  display: flex;
  align-items: center;
  justify-content: center;
}


/*
    background-image: linear-gradient(#3C5186, #9B72AA);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
/*
.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}
*/
.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}


.dashboard{
    /* put flex in once right side is done */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
        );
        border-radius: 2rem;

}
/*
.user{
    width: 200px;
    height: 200px;
    left: 60px;
    position: absolute;
    overflow: hidden;
    border-radius: 10%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
*/
.user{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 15%;
    position:  relative;
}

.links{
    position:  relative;
    margin: 2rem 0rem;
    padding: 0rem 3rem;
    align-items: center;
}
.link{
    padding: 1rem 2rem;
}

.link h2{
    padding: 0rem 2rem;

}
